* text=auto !eol
/Makefile -text
/apertium-tt-ba.ba-tt.t1x -text
/apertium-tt-ba.ba-tt.t2x -text
/apertium-tt-ba.ba.lexc -text
/apertium-tt-ba.ba.twol -text
/apertium-tt-ba.post-ba.dix -text
/apertium-tt-ba.post-tt.dix -text
/apertium-tt-ba.tt-ba.dix -text
/apertium-tt-ba.tt-ba.t1x -text
/apertium-tt-ba.tt-ba.t2x -text
/apertium-tt-ba.tt.lexc -text
/apertium-tt-ba.tt.twol -text
/ba-tt.prob -text svneol=unset#unset
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/ru-tt-ba.txt -text
dev/testvoc-summary.ba-tt.txt -text
dev/testvoc-summary.tt-ba.txt -text
dev/testvoc.sh -text
/modes.xml -text
/tt-ba.prob -text svneol=unset#unset
