* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/Makefile~ -text
/NEWS -text
/README -text
/apertium-tt-ba.ba-tt.t1x -text
/apertium-tt-ba.ba-tt.t2x -text
/apertium-tt-ba.ba.lexc -text
/apertium-tt-ba.ba.twol -text
/apertium-tt-ba.post-ba.dix -text
/apertium-tt-ba.post-tt.dix -text
/apertium-tt-ba.tt-ba.dix -text
/apertium-tt-ba.tt-ba.lrx -text
/apertium-tt-ba.tt-ba.rlx -text
/apertium-tt-ba.tt-ba.t1x -text
/apertium-tt-ba.tt-ba.t2x -text
/apertium-tt-ba.tt.lexc -text
/apertium-tt-ba.tt.twol -text
/autogen.sh -text
/ba-tt.prob -text svneol=unset#unset
/configure.ac -text
dev/countstems-ba.sh -text
dev/countstems-tt.sh -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/ru-tt-ba.txt -text
dev/testvoc-summary.ba-tt.txt -text
dev/testvoc-summary.tt-ba.txt -text
dev/testvoc.sh -text
/modes.xml -text
paper/Makefile -text
paper/architecture.obj -text
paper/lrec2006.bst -text
paper/lrec2006.sty -text
paper/tt-ba.bib -text
paper/tt-ba.tex -text
texts/Tekst_ba.txt -text svneol=unset#application/octet-stream
texts/Tekst_tt.txt -text svneol=unset#application/octet-stream
texts/story.ba.txt -text svneol=unset#application/octet-stream
texts/story.tt.txt -text svneol=unset#application/octet-stream
/tt-ba.prob -text svneol=unset#unset
